address==0.1.1
aiofiles==0.7.0
aiosqlite==0.17.0
anyio==3.2.1
asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
click==8.0.1
colorama==0.4.4
coverage==5.5
cryptography==3.4.7
dashboard==0.0.6
databases==0.4.3
decorator==5.0.9
Django==3.2.5
django-countries==7.2.1
django-js-asset==1.2.2
django-mptt==0.12.0
factory-boy==3.2.0
Faker==8.10.3
h11==0.12.0
idna==3.2
inflection==0.5.1
iniconfig==1.1.1
Jinja2==3.0.1
MarkupSafe==2.0.1
objects==0.3.1
orm==0.2.0.dev1
packaging==21.0
parts==1.0.3
password==0.2
paypal==1.2.5
paypal-checkout-serversdk==1.0.1
paypalhttp==1.0.0
Pillow==8.3.1
pluggy==0.13.1
products==0.1.0
psycopg2==2.9.1
psycopg2-binary==2.9.1
py==1.10.0
pycparser==2.20
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.2.4
pytest-django==4.4.0
pytest-factoryboy==2.1.0
python-dateutil==2.8.2
python-dotenv==0.18.0
python-multipart==0.0.5
pytz==2021.1
PyYAML==5.4.1
render==1.0.0
requests==2.26.0
self==2020.12.3
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.3.24
sqlparse==0.4.1
starlette==0.15.0
stripe==2.60.0
text-unidecode==1.3
toml==0.10.2
typesystem==0.3.0.dev0
typing-extensions==3.10.0.0
urllib3==1.26.6
uvicorn==0.14.0
validity==0.1.0
