{% extends "store/base.html" %}


{% block content %}
    <style>
    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>

<div class="container-fluid">
{% if messages %}
            <div class="alert alert-warning text-center" alert-{{ message.tags }} role="alert">
                {% for message in messages %}
                    {{ message|safe }}
                {% endfor %}
            </div>
        {% endif %}
     <div class="container">
        <form method="POST" class="loginform">
            {{ form }}
                    <h1 class="centers">Register</h1>

            {% csrf_token %}
            <button value="Register" type="submit" class="btn btn-primary">Register</button>
                    <a class="center btn  btn-secondary" href="">Already have an account ?</a>

        </form>
    </div>
</div>
{% endblock %}